* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

body {
    background: radial-gradient(ellipse at center, #4042c5 0%, #000000 70%);
    background-size: 100%;
}

p {
    margin: 0;
    padding: 0; 
}

.reloj {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 20px rgb(10, 175, 230,1);
}

.tiempo {
    letter-spacing: 0.05em;
    font-size: 80px;
    padding: 5px 0;
}

.fecha {
    letter-spacing: 0.1em;
    font-size: 24px;
}